.content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.frame {
  background-color: rgb(62, 60, 59);
  height: 300px;
  width: 310px;
  margin: 20px;
  border-radius: 20px;
  border: solid 1px black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.display {
  background-color: aliceblue;
  height: 80px;
  margin: 20px;
  border: solid 1px black;
}

.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px;
}

.key {
  background-color: white;
  border: solid 1px black;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.key:hover {
  background-color: rgb(167, 167, 167);
}
