.content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.frame {
  background-color: rgb(62, 60, 59);
  height: 365px;
  width: 310px;
  margin: 20px;
  border-radius: 20px;
  border: solid 1px black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.display {
  background-color: aliceblue;
  height: 80px;
  margin: 20px;
  border: solid 1px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;

}

.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px;
}

.key {
  background-color: white;
  border: solid 1px black;
  border-radius: 8px;
  margin: 5px;
  padding: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.key:hover {
  background-color: rgb(167, 167, 167);
}

.clear {
  background-color: white;
  border: solid 1px black;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clear:hover {
  background-color: rgb(167, 167, 167);
}

footer {
  text-align: center;
  text-shadow: 0 0 15px rgba(0,0,0,0.2);
}

footer > a {
  color: rgb(184, 20, 20);
  text-decoration: none;
}

footer > a:hover {
  color: rgb(138, 8, 8);
}
